/* src/styles/Applyleave.css */
.leave-application-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* background-image: url(images.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .leave-application-container h2 {
    text-align: center;
    margin-bottom: 20px;
  
    font-style: normal;
  }
  
  .handle {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
  }
  
  .handle form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 10px;
    width: 100px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;

    
  }
  
  .form-group input,
  .form-group textarea {
    width: calc(100% - 50px); /* Full width minus padding */
    max-width: 460px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical; /* Allow vertical resizing but not horizontal */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color:black;
  }